<section>
    <div class="panel">
        <div id="propuestas">
            <h3>Juegos</h3>
            <div class="games">
                <button type="button" class="btnGame" id="btnTaTeTi" data-bs-toggle="modal" data-bs-target="#loading">
                    <img src="image/tic-tac-toe.png" alt="" width="40">
                    Ta-Te-Ti
                </button>

                <button type="submit" class="btnGame">
                    <img src="image/quizas.png" alt="" width="40">
                    Trivia
                </button>
            </div>
        </div>
        <div class="chatGeneral">
            <h3>Chat</h3>
            <div class="chat">
                <div id="logsPanel"></div>
                <input id="chatBox" type="text">
            </div>
        </div>
    </div>
    {{>tateti}}
    {{>loading}}
</section>
