<header class="topbar">
    <div>
        <img src="/image/ludiChat.png" alt="Logo de ludiChat" width="200"> 
    </div>
    <nav>
        <ul class="navegacion">
            <li>
                <a class="link" href="#">
                    <i class="bi bi-person-circle"></i> Login
                </a>
            </li>
            <li>
                <a class="link" href="#">
                    <i class="bi bi-envelope-at"></i> Contacto
                </a>
            </li>
        </ul>
    </nav>
</header> 


