<!-- Modal -->
<div class="modal fade" id="contenedorGame" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-user="">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Juego: Ta-Te-Ti</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="jugadores">
          <div class="user">
            <img src="#" alt="foto de user">
            <p id="Anfitrion"></p>
          </div>
          <div class="user">
            <img src="#" alt="foto de user">
            <p id="Participante"></p>
          </div>
        </div>
        <div class="tablero">
          <button class="celda"></button>
          <button class="celda"></button>
          <button class="celda"></button>
          <button class="celda"></button>
          <button class="celda"></button>
          <button class="celda"></button>
          <button class="celda"></button>
          <button class="celda"></button>
          <button class="celda"></button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>